@model IEnumerable<Vestager.Domain.Entities.Locacao>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h1>Locações</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary btn-sm" asp-action="Create">Nova Locação</a>
    </div>
</div>

<div class="row" style="height:90%">
    <div class="col-12 h-100 ">
        <table class="table table-hover table-sm table-striped shadow-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRetirada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataDevolucao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vestido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desconto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FormaDePagamento)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRetirada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataDevolucao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.UserID)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desconto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormaDePagamento)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-warning pt-0 pb-0" asp-action="Edit" asp-route-id="@item.LocacaoID">Editar</a>
                            <a class="btn btn-sm btn-success pt-0 pb-0" asp-action="Details" asp-route-id="@item.LocacaoID">Visualizar</a>
                            <a class="btn btn-sm btn-danger pt-0 pb-0" asp-action="Delete" asp-route-id="@item.LocacaoID">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>