@model IEnumerable<Vestager.Domain.Entities.Vestido>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h1>Vestidos</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary btn-sm" asp-action="Create">Novo Vestido</a>
    </div>
</div>


<div class="row" style="height:90%">
    <div class="col-12 h-100 ">
        <table class="table table-hover table-sm table-striped shadow-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tamanho)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoVestido)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tamanho)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoVestido)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-warning pt-0 pb-0" asp-action="Edit" asp-route-id="@item.VestidoID">Editar</a>
                            <a class="btn btn-sm btn-success pt-0 pb-0" asp-action="Details" asp-route-id="@item.VestidoID">Visualizar</a>
                            <a class="btn btn-sm btn-danger pt-0 pb-0" asp-action="Delete" asp-route-id="@item.VestidoID">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>