@model IEnumerable<Vestager.Domain.Entities.Ajuste>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoEstimado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoEstimado)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.AjusteID">Editar</a> 
                <a class="btn btn-sm btn-success" asp-action="Details"  asp-route-id="@item.AjusteID">Visualizar</a> 
                <a class="btn btn-sm btn-danger" asp-action="Delete"  asp-route-id="@item.AjusteID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
