@model IEnumerable<Vestager.Domain.Entities.Prova>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h1>Provas</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary btn-sm" asp-action="Create">Agendar Prova</a>
    </div>
</div>

<div class="row" style="height:90%">
    <div class="col-12 h-100 ">
        <table class="table table-hover table-sm table-striped shadow-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataProva)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataProva)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-warning pt-0 pb-0" asp-action="Edit" asp-route-id="@item.ProvaID">Editar</a>
                            <a class="btn btn-sm btn-success pt-0 pb-0" asp-action="Details" asp-route-id="@item.ProvaID">Visualizar</a>
                            <a class="btn btn-sm btn-danger pt-0 pb-0" asp-action="Delete" asp-route-id="@item.ProvaID">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>